* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*===============CABECERA==============*/
.contenedor_busqueda{
    background-color: #FFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.contenedor_busqueda .logo{
    cursor: pointer;
}
.contenedor_busqueda .logo img{
    height: 58px;
    width: auto;
    transition: all 0.3s;
}
.contenedor_busqueda .logo img:hover{
    transform: scale(1.1);
}
.conte_cabecera{
    display: flex;
    justify-content: center;
    align-items: center;
}
.conte_cabecera a img{
    height: 30px;
}
form{
    background-color: rgb(196, 194, 194);
    width:260px;
    height: 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 4px;
}
form input{
    font-size: 16px;
    flex: 1;
    border: 0;
    outline: 0;
    background-color: transparent;
}
form input::placeholder{
    color: white;
}
form button{
    background-color: #F35f5F;
    border: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    order: 0;
}
button i{
    color: white;
    font-size: 18px;
}
form button:hover{
    background-color: #EA4141;
}
.contenedor_busqueda a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.contenedor_busqueda a:hover{
    font-weight: bold;
}

.rPedido{
    background-color: #EA4141;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.contenedor_nav{
    background-color: #F35f5F;
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.contenedor_nav .nav-links li a{
    font-size: 15px;
    color: white;
    text-decoration: none;
}
.contenedor_nav .nav-links li:hover{
    transform: scale(1.2);
}
/*.nav-links{
    
}*/
.contenedor_nav .nav-links li{
    display: inline-block;
    margin-right: 25px;
    margin-left: 25px;
}
/*=======================================*/
/*================MAIN*==================*/


/*=======================================*/
/*===============FOOTER==================*/
.contenedor-footer{
    background-color: #EA4141;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-footer a{
    text-decoration: none;
    color: white;
}
